---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
  </header>

  {%- if page.solutions -%}

  <h2 class="py-5" id="Assignment-Solution"> Assignment Solution </h2>
    <a href="{{page.solutions}}" > Download  Assignment Solution </a>
    <br>
    <br>
  {%- endif -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <h2 class="pt-5 "> Exercise</h2>

  {%- if page.embed_exercise -%}
    <iframe src={{page.embed_exercise}} width="640" height="1227" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  {%- endif -%}

  <div class="post-content e-content" itemprop="articleBody">
    <h2 class="p-5 "> Conclusion</h2>
    {{ page.conclusion }}
  </div>

  {%- if page.review -%}
    <iframe src={{page.review}} width="640" height="1227" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  {%- endif -%}
</article>

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

{%- include disqus_comments.html -%}
